@CHARSET "UTF-8";


p{
    font-size: 14px;
    margin : 0px;
}

p.right {
	text-align:right;
}

.clearfix:after{
    content: ""; 
    display: block; 
    clear: both;
}

#auth-open input {
    width : 250px;
}
#auth-open input[type=button] {
    width : 150px;
}
#auth-open dt {
	float:left;
	clear:left;
    width : 90px;
    margin : 5px;
}
#auth-open dd {
    float:left;
    width : auto;
    margin : 5px;
}

#auth-open .invalid-message {
    width : 255px;
}
